body {
    background: linear-gradient(#89cff0, yellow, pink);
}

div {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    border: inset;
    box-shadow: 20px 10px 5px red;
}

h1 {
    margin: auto;
        width: 50%;
        padding: 10px;
        text-align: center;
        background-color: white;
}

table {
    margin: auto;
            width: 50%;
            padding: 10px;
            text-align: center;
}